<!--The content below is only a placeholder and can be replaced.-->
<nav>
  <div class="nav-wrapper teal">
    <a href="#" class="brand-logo center">Pokemon App</a>
  </div>
</nav>

<router-outlet></router-outlet>

<!-- <p *ngIf="age > 18">Vous êtes un utilisateur majeur.</p> -->
<!--   <input #box (keyup.enter)="values = box.value" (blur)="values = box.value" />
  <p>{{ values }}</p> -->

<!-- <button (click)="onClick()">Cliquez ici !</button>

<input #box (keyup)="onKey(box.value)" />
<p>{{ box.value }}</p>
<p>{{ value }}</p> -->
